/UART-HW5.X/build/
/UART-HW5.X/dist/
/HW7/SPI_DAC_Signals.X/build/
/HW7/SPI_DAC_Signals.X/dist/
/HW8/I2C_IO_Expander.X/dist/
/HW8/I2C_IO_Expander.X/build/
/HW10/Neopixels.X/build/
/HW10/Neopixels.X/dist/
/HW9/IPS_LCD_Display.X/dist/
/HW9/IPS_LCD_Display.X/build/
/HW11/IMU.X/dist/
/HW11/IMU.X/build/